<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directives</title>
</head>

<body>

    <div id="directives">

        <h1 v-if="show">BeachTennis</h1>
   
        <h3 key="available" v-if="tickets >= 100">Há ingressos disponíveis {{tickets}}</h3>
        <h3 key="some" v-else-if="tickets <= 10 && tickets != 0 ">Quase acabando, restam: {{tickets}}</h3>
        <h3 key="empty" v-else>Os ingressos acabaram {{tickets}}</h3>

         <h3 v-if="tickets == 50"> {{some()}} Estão acabando! tem 50</h3>
        <h1>
        </h1>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script>

        let app = new Vue({
            el: '#directives',
            data: {
                name: 'Code is nice',
                show: true,
                tickets: 100
            },
            methods: {
                some: function() {
                    return alert('Os ingressos estão acabando, estão em : '+this.tickets)
                }
            }


        })

    </script>

</body>

</html>