<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directives - v-bind</title>
</head>

<body>

    <div id="directives">
        <h1>V-Model</h1>

        <!-- pega como referencia a propriedade h1Size -->
        <h1 v-bind:style="{fontSize: h1Size + 'px'}"> Testando size</h1>

        <h1>Titulo</h1>
        <!-- consegue alterar o valor de h1Size dinâmicamente -->
        <input type="text" v-model="h1Size">


        <!-- consegue alterar o valor de h1Background(cor do background) dinâmicamente -->
        <h1 v-bind:style="{backgroundColor: h1Background}">Eu sou muito programador</h1>
        <input type="text" v-model="h1Background">

        <h1 v-if="h1Background == 'white' ">Tá branco, muda essa cor ai cara!</h1>
        <h1 v-if="h1Background == 'red' ">Tá red, muda essa cor ai cara!</h1>
        <h1 v-if="h1Background == 'yellow' ">Tá yellow, muda essa cor ai cara!</h1>
        <h1 v-if="h1Background == 'green' ">Tá green, muda essa cor ai cara!</h1>
        <h1 v-if="h1Background == 'black' ">Tá black, muda essa cor ai cara!</h1>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script>

        let app = new Vue({
            el: '#directives',
            data: {
                h1Size: 10,
                h1Color: 'red',
                h1Background: '',
                align: 'center',
                display: 'inline',
                position: 'absolute',
                isFloatinOnLeft: 'left',
                value: 10
            }


        })

    </script>

</body>

</html>